@use "@/styles/variables" as *;

.wrapper {
  position: relative;
}

.panel {
  position: absolute;
  top: calc(100% + var(--spacing-xs));
  background: var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lg);
  padding: var(--spacing-xs);
  min-width: 180px;
  z-index: 100;
  animation: fadeIn 0.2s ease;
}

.panelEnd {
  right: 0;
}

.panelStart {
  left: 0;
}

.item {
  // display: flex;
  // align-items: center;
  // gap: var(--spacing-md);
  width: 100%;
  padding: var(--spacing-md);
  // color: var(--color-text);
  font-size: 14px;
  transition: background 0.2s ease;
  border-radius: var(--radius-sm);
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  // font-family: inherit;

  &:hover {
    background: var(--color-gray-light);
    box-shadow: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
