@use "@/styles/variables" as *;

.searchWrapper {
  position: relative;
  width: 100%;
  margin-bottom: var(--spacing-lg);
}

.clearButton {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray);
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-text);
  }
}
